
body {
    font-family: "Nunito", sans-serif;
    color: #212529;
    /* background-color: #3f577a; */
    /* background-color: #007900; */
    background-color: #75816B;
}

.jumbotron {
    border: #212529 solid 1px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.info {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

section h2 {
    margin-bottom: 4rem;
    text-align: center;
}
#intro {
    background-image: url(img/banner.jpg);
    background-color: #75816B;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#skills {
    background-color: #212529;
}

#experience {
    background-color: whitesmoke;
}

#about {
    background-color: whitesmoke;
}

.card-columns {
    break-inside: avoid-column;
}

.demo {
    margin-top: 3rem;
}
.demo h4 {
    text-align: center;
}

.demo img {
    height: 20rem;
    display: block;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: solid whitesmoke .5rem;
}

.demo div {
    text-align: center;
}


