
body {
    font-family: "Nunito", sans-serif;
    color: #212529;
    background-color: #3f577a;
}

.card-header {
    font-size: x-large;
}


.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
